<div id="header">
<div class="container">
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="index.html"><img src="themes/images/logo.png" alt="Bootsshop"/></a>
    <form class="form-inline navbar-search" method="post" action="products.html" >
    <input id="srchFld" class="srchTxt" type="text" />
      <select class="srchTxt" style="width: 150px;">
      <option>All</option>
      <option>CLOTHES </option>
      <option>FOOD AND BEVERAGES </option>
      <option>HEALTH & BEAUTY </option>
      <option>SPORTS & LEISURE </option>
      <option>BOOKS & ENTERTAINMENTS </option>
    </select> 
      <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
   <li class=""><a href="special_offer.html">Productos</a></li>
   <li class=""><a href="normal.html">Shopping Cart</a></li>
   <li class=""><a href="/contacts">Contactos</a></li>
   <li class=""><a href="/register">Registrate</a></li>
   <li class="">
   <a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a>
  <div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Login Block</h3>
      </div>
      <div class="modal-body">
      <form action="/signin" method="POST" class="form-horizontal" >
        <h4>Inicio de Sesión</h4>
        <div class="control-group">
          <label class="control-label" for="inputFname1">Usuario</label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="Username">
          </div>
        </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword1">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="Password">
        </div>
        </div>	  
      
      <div class="control-group">
          <div class="controls">
            <input class="btn btn-large btn-success" type="submit" value="Sig In" />
          </div>
        </div>		
      </form>  

      </div>
  </div>
  </li>
    </ul>
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->