<!--<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
      <div class="container">
      <a href="register.html"><img style="width:100%" src="themes/images/carousel/1.png" alt="special offers"/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <a href="register.html"><img style="width:100%" src="themes/images/carousel/2.png" alt=""/></a>
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <a href="register.html"><img src="themes/images/carousel/3.png" alt=""/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      
      </div>
      </div>
       <div class="item">
       <div class="container">
      <a href="register.html"><img src="themes/images/carousel/4.png" alt=""/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
       
      </div>
      </div>
       <div class="item">
       <div class="container">
      <a href="register.html"><img src="themes/images/carousel/5.png" alt=""/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
      </div>
      </div>
       <div class="item">
       <div class="container">
      <a href="register.html"><img src="themes/images/carousel/6.png" alt=""/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>  -->
</div>
<div id="mainBody">
  <div class="container">
  <div class="row">
<!-- Sidebar ================================================== -->
  <div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <br/>
      <div class="thumbnail">
      <img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
      <div class="caption">
        <h5>Panasonic</h5>
        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
      </div>
      </div><br/>
      <div class="thumbnail">
        <img src="themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
          <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>
        </div><br/>
      <div class="thumbnail">
        <img src="themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
          <h5>Payment Methods</h5>
        </div>
        </div>
  </div>
<!-- Sidebar end=============================================== -->
    <div class="span9">   
      <div class="well well-small">
      <h4>{{ title }}</h4>
      <div class="row-fluid">
      <div id="featured" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
        <ul class="thumbnails">
          {{#if data.length}}
            {{#each data}}
              <li class="span3">
                <div class="thumbnail">
                <!--<i class="tag"></i> -->
                <img src="themes/images/products/b1.jpg" alt=""></a>
                <div class="caption">
                  <h5>{{product}}</h5>
                  <h4><a class="btn" href="#">VIEW</a> <span class="pull-right">${{price}}</span></h4>
                  <h4>Disponible: <span class="pull-right">{{quantity}}</span>
                </div>
                </div>
              </li> 
            {{/ each}}
        </ul> 
        </div>
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        {{else}}
          <span><strong>No existen productos aún.</strong></span>
        {{/ if}}
        </div>
        </div>
    </div>
    <h4>Latest Products </h4>
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <a  href="product_details.html"><img src="themes/images/products/6.jpg" alt=""/></a>
          <div class="caption">
            <h5>Product name</h5>
            <p> 
            Lorem Ipsum is simply dummy text. 
            </p>
           
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="product_details.html"><img src="themes/images/products/7.jpg" alt=""/></a>
          <div class="caption">
            <h5>Product name</h5>
            <p> 
            Lorem Ipsum is simply dummy text. 
            </p>
           <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="product_details.html"><img src="themes/images/products/8.jpg" alt=""/></a>
          <div class="caption">
            <h5>Product name</h5>
            <p> 
            Lorem Ipsum is simply dummy text. 
            </p>
             <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="product_details.html"><img src="themes/images/products/9.jpg" alt=""/></a>
          <div class="caption">
            <h5>Product name</h5>
            <p> 
            Lorem Ipsum is simply dummy text. 
            </p>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="product_details.html"><img src="themes/images/products/10.jpg" alt=""/></a>
          <div class="caption">
            <h5>Product name</h5>
            <p> 
            Lorem Ipsum is simply dummy text. 
            </p>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="product_details.html"><img src="themes/images/products/11.jpg" alt=""/></a>
          <div class="caption">
            <h5>Product name</h5>
            <p> 
            Lorem Ipsum is simply dummy text. 
            </p>
             <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
          </div>
          </div>
        </li>
        </ul> 

    </div>
    </div>
  </div>
</div>