	<div class="well">
	<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
	 {{#if message.length}}
	 		<div class="alert alert-success" role="alert">{{ message }}</div>
	 {{/ if}}
	<form action="/register" method="POST" class="form-horizontal" >
		<h4>Registro de usuarios</h4>
		<div class="control-group">
			<label class="control-label" for="inputFname1">Usuario</label>
			<div class="controls">
			  <input type="text" id="username" name="username" placeholder="Username">
			</div>
		 </div>
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Password</label>
		<div class="controls">
		  <input type="password" id="password" name="password" placeholder="Password">
		</div>
	  </div>	  
	
	<div class="control-group">
			<div class="controls">
				<input class="btn btn-large btn-success" type="submit" value="Register" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
